body {
	background-image:
		url("https://images.unsplash.com/photo-1544716278-ca5e3f4abd8c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}



form {


	border-radius: 7px;
	margin-left: 150px;
	margin-right: 250px;
	margin-bottom: 200px;
	opacity: 0.75;
}



label {

	color: rgb(0, 0, 0);
	
}

label:hover {
	color: rgb(255, 255, 255);

	opacity: 0.9
}

