<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>SaveTaskServlet</servlet-name>
		<display-name>SaveTaskServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.SaveTaskServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<display-name>DeleteServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.DeleteServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DeletServlet</servlet-name>
		<display-name>DeletServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.DeletServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<display-name>RegisterServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.RegisterServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SaveUserSarvlet</servlet-name>
		<display-name>SaveUserSarvlet</display-name>
		<description></description>
		<servlet-class>com.servlets.SaveUserSarvlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveUserServlet</servlet-name>
		<display-name>SaveUserServlet</display-name>
		<description></description>
		<servlet-class>com.servlets.SaveUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogIn</servlet-name>
		<display-name>LogIn</display-name>
		<description></description>
		<servlet-class>com.servlets.LogIn</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>SaveTaskServlet</servlet-name>
		<url-pattern>/SaveTaskServlet</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>DeletServlet</servlet-name>
		<url-pattern>/DeletServlet</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>SaveUserSarvlet</servlet-name>
		<url-pattern>/SaveUserSarvlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveUserServlet</servlet-name>
		<url-pattern>/SaveUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogIn</servlet-name>
		<url-pattern>/LogIn</url-pattern>
	</servlet-mapping>
</web-app>
